<h1><%= @note['title'] %></h1>

<p><%= @language['name'] %></p>

<p><%= @note['body'] %></p>

<p><%= @note['source'] %></p>

<a href="/users/<%= @user['id'] %>/notes/<%= @note['id'] %>/edit">Edit</a>



