<h1>Title: <%= @note['title'] %></h1>

<h3>Posted by: <%= link_to "#{@note.user.username}", user_path(@user) %></h3>

<p>Language: <%= @language['name'] %></p>

<p>Body: <%= @note['body'] %></p>

<p>Source: <%= @note['source'] %></p>

<% if user_signed_in? %>
	<%= link_to "Edit", edit_note_path(@note) %>
<% end %>



<br><br>

<h3>Add new comment</h3>

<%= form_for(@comment, url: note_comments_path(@note), method: "post") do |f| %>

  <div class="field">
    <%= f.text_area :text %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>

<% end %>


<br>

<h3>Comments</h3>

<ul class="comment-container">

<% @comments.each do |comment| %>

	<li class="comment">

		<%= link_to User.find(comment['user_id']).username, user_path(comment), class: "comment-username" %>
		<p class="comment-language">Native language: <%= get_language_name(comment['user_id']) %></p>
		
		<p class="comment-text"><%= comment['text'] %></p>

		<% if user_signed_in? %>
			<%= link_to 'Delete', note_comment_path(@note,comment), :method => :delete, class: "comment-delete" %>
		<% end %>

	</li>


<% end %>

</ul>




