<h1><%= @note['title'] %></h1>

<h4 class="note-opened-created-by" >Created by: <%= link_to "#{@note.user.username}", user_path(@user) %></h3>

<% if @note['private'] %>
	<i class="fa fa-lock" title="This note is not visible to other users"></i>
	<p class="note-opened-private-label">Private</p>
	<br>
<% end %>

<% if @note['question'] %>
	<img class="megaphone" src="/img/megaphone.svg" title="This note is a question">
	<p class="note-opened-question-label">Posted as question</p>
	<br>
<% end %>

<h6>Posted <%= @note['created_at'] %></h6>

<p class="note-opened-language"><%= @language['name'] %></p>



<div class = "note-opened-links-icons">
	<% if user_signed_in? %>
		<%= link_to "Edit", edit_note_path(@note), class: "note-edit" %>
		<%= link_to 'Delete', user_note_path(@user, @note), :method => :delete, class: "note-delete" %>	
	<% end %>
</div>

<div class="note-opened-body">
<p><%= @note['body'] %></p>
</div>

<% if @note['source'].length > 0 %>

	<p class="source-label">Source:</p>

	<% if @youtube %>
		<div class="embed-container">
			<%= embed_youtube(@note['source']) %>
		</div>
	<% else %>
		<div class="note-opened-source">
			<p><%= auto_link(@note['source']) %></p>
		</div>
	<% end %>

<% end %>


<br>

<div class="comments-section-container">

<h4>Add new comment</h4>

<%= form_for(@comment, url: note_comments_path(@note), method: "post") do |f| %>

  <div class="field">
    <%= f.text_area :text %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>

<% end %>


<br>

<h4>Comments</h4>

<ul class="comments-container">

	<% @comments.each do |comment| %>

		<li class="comment">

			<%= link_to comment.user.username, user_path(comment.user), class: "comment-username" %>
			<p class="comment-language">Native language: <%= get_language_name(comment.user.native) %></p>
			<p class="comment-time"><%= comment['created_at'] %></p>
			
			<p class="comment-text"><%= comment['text'] %></p>

			<% if user_signed_in? %>
				<%= link_to 'Delete', note_comment_path(@note,comment), :method => :delete, class: "comment-delete" %>
			<% end %>

		</li>


	<% end %>

	<% if @comments.length == 0 %>
		<p id="no-comments-message">Be the first to comment</p>
	<% end %>

</ul>

</div>




