<h1><%= @user['username'] %>'s notes</h1>

<%= render "languagefilter" %>

<ul class="notes-container">

<% @notes.each do |note| %>

		<% if note['private']==nil || (user_signed_in? && current_user.id == note['user_id']) %>

			<li class="note">
				<%= link_to "#{note['title']}", note_path(note), class: "note-title" %>

				<%= link_to "#{note.user.username}", user_path(note.user), class: "note-username" %>

				<p class="note-language"><%= get_language_name(note['language_id']) %></p>

				<p class="note-body"><%= shorten_note(note['body']) %></p>
				
				<% if current_user %>
					<div class="edit-delete-links">
						<%= link_to "Edit", edit_note_path(note), class: "note-edit" %>
						<%= link_to 'Delete', note_path(note), :method => :delete, class: "note-delete" %>
					</div>
				<% end %>
			</li>

		<% end %>


<% end %>


</ul>
