<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">LangExchange</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
          <li class="has-dropdown">
            <a href="#"><%= current_user.username %></a>
            <ul class="dropdown">
              <li><a href="/users/<%= current_user.id %>">Profile</a></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to('Sign up', new_user_registration_path)  %>  
          </li>

          <li>
            <%= link_to('Login', new_user_session_path)  %>  
          </li>
        <% end %>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/users/all">Users</a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/new">Newly posted</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Add new note", new_note_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>