<%= form_for(@note, url: @route, method: @method) do |f| %>

	<div class="field">
	  <%= f.label :language_id %>
	  <%= f.collection_select(:language_id, @user.languages, :id, :name) %>
	</div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>

  <div class="field">
    <%= f.check_box(:question, {}, true, false) %>
    <%= f.label(:question, "Ask community") %>
  </div>

  <div class="field">
    <%= f.check_box(:private, {}, true, false) %>
    <%= f.label(:private, "Make note private") %>
  </div>
  

  <div class="actions">
    <%= f.submit "Save" %>
  </div>

<% end %>