<%= form_for(@note, url: @route, method: @method) do |f| %>

	<div class="field">
	  <%= f.label :language_id %>
	  <%= f.collection_select(:language_id, @user.languages, :id, :name) %>
	</div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :source %>
    <%= f.text_field :source, :placeholder => "Enter a URL (optional)", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.check_box(:question, {:id => "question-checkbox"}, true, false) %>
    <%= f.label(:question, "Post as question", id: "question-label") %>
  </div>

  <div class="field">
    <%= f.check_box(:private, {:id => "private-checkbox"}, true, false) %>
    <%= f.label(:private, "Private note", id: "private-label") %>
  </div>
  

  <div class="actions">
    <button>Save</button>
  </div>

<% end %>